/* Change accordion icon to plus and minus */
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
