#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.toTop-btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  padding: 0.5rem; /* Adjust the padding as needed */
  outline: none;
  border: 1px greenyellow solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toTop-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}
