<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style/menu.css" />
    <link rel="stylesheet" href="style/heroimage.css" />
    <link rel="stylesheet" href="style/caraousel.css" />
    <link rel="stylesheet" href="style/faq.css" />
    <link rel="stylesheet" href="style/contact.css" />
    <link rel="stylesheet" href="style/toTop.css" />
</head>

<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid navBar">
            <a class="navbar-brand text-uppercase fa-5x" href="/">
                <i class="bi bi-infinity fa-5x"></i>Pages</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Custom hamburger menu icon with animation -->
                <div id="hamburger-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto pl-4 pr-4 mb-2 mb-lg-0 text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#bestseller">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#faqs">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                </ul>
                <!--Toggle button-->
                <div class="form-check form-switch mx-4">
                    <i id="sunIcon" class="bi bi-sun" style="display: none;"></i>
                    <input type="checkbox" class="form-check-input p-2" role="switch" id="flexSwitchCheckChecked"
                        checked onclick="darkMode()" />
                    <i id="moonIcon" class="bi bi-moon"></i>
                </div>
                <!--Cart-->
                <a class="icon-link " href="#"></a>
                <i class="bi bi-cart3 fa-4x" data-bs-toggle="modal" data-bs-target="#loginModal"
                    onclick="handleCartClick()"></i>
                </a>

                <!--Search-->
                <form class="d-flex" onsubmit="searchBooks(event)">
                    <input id="searchTerm" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
                <!-- Login/Logout Button -->
                <div class="d-flex1" id="app"></div>




            </div>
        </div>
    </nav>

    <div id="bookList"></div>
    <footer class="text-center py-3">
        &copy; 2023 Infinite Pages. All rights reserved.
    </footer>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="script/menu.js"></script>
    <script src="script/darkmode.js"></script>

    <script src="/script/search.js"></script>
    <script>
        window.onload = function () {
            const searchTerm = new URLSearchParams(window.location.search).get('searchTerm');

            fetch(`/books/search?searchTerm=${searchTerm}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Received search results:', data);

                    const bookList = document.getElementById('bookList');
                    bookList.innerHTML = '';

                    data.results.forEach(book => {
                        console.log('Book:', book);

                        const listItem = document.createElement('li');
                        listItem.className = 'm-2';

                        const dataUrl = `/images/${book._id}.${book.image.contentType.split('/')[1]}`;

                        listItem.innerHTML = `
            <div class="card" style="height: 350px; width: 200px;">
              <img src="${dataUrl}" alt="${book.title}" 
                class="card-img-top" style="cursor: pointer; height: 70%; object-fit: cover;"
                onclick="navigateToBookDetail('${book._id}')">
              <div class="card-body" style="height: 30%; overflow-y: auto;">
                <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px;">
                  ${book.title}
                </h5>
                <p class="card-text" style="margin-bottom: 5px;">Price: $${book.price.toFixed(2)}</p>
                ${book.quantity > 0 ? '<p class="card-text text-success">In Stock</p>' : '<p class="card-text text-danger">Out of Stock</p>'}
              </div>
            </div>
          `;

                        bookList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching search results:', error));
        }

        function navigateToBookDetail(bookId) {
            // Implement your logic to navigate to the book detail page using the bookId
            console.log(`Navigating to book detail page for book with ID ${bookId}`);
        }
    </script>

</body>

</html>