<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="./assets/indexstyle.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <h1>Inventory Management</h1>
    </div>
    <div class="Main">
      <ul>
        <li><a href="/inventory.html">View Inventory</a></li>
        <li><a href="/addInventory.html">Add Inventory</a></li>
        <li><a href="/UpdateInventory.html">Update Inventory</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
