<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="./assets/inventorystyle.css" />
  </head>
  <body>
    <div class="header">
      <h1>Inventory</h1>
    </div>

    <div class="main-content">
      <ul id="inventoryList"></ul>
      <script src="/scripts/fetchInventory.js"></script>
    </div>

    <div class="footer">
      <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
    </div>
  </body>
</html>
