<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Inventory</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/updateinvenstyle.css"
    />
  </head>
  <body>
    <div class="header">
      <h1>Update Inventory</h1>
    </div>

    <div class="main-content">
      <form id="updateInventoryForm">
        <label for="bookName">Book Name:</label>
        <input type="text" id="bookName" name="bookName" required />

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required />

        <button type="submit">Update Inventory</button>
      </form>
    </div>

    <div class="footer">
      <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
    </div>

    <script src="/scripts/updateInventory.js"></script>
  </body>
</html>
